/*div containeri divien ympärillä*/
#vt1 > div > div{
  display: flex;
}


/* joukkueet laatikko */
#vt1 > div > div > div:nth-child(1){
  background-color: white;
  border-style: solid;
  border-block-width: 0.2em;

}

#vt1 > div > div > div > table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid blue;
}

#vt1 > div > div > div > table > tbody {
  
  border: 1px solid blue;
}


/* lisaa sarja jne. */
#vt1 > div > div > div:nth-child(2){
  background-color: lime;
}

/* Sarjat */
#vt1 > div > div > div:nth-child(3){
  background-color: purple;
}


