/*div containeri divien ympärillä*/
#vt1 > div > div{
  display: flex;
}

/*pääotsikko h1 */
html > body > h1 {
  width: 14em;  
}

#vt1 > div > div > div:nth-child(1) > h2{
  overflow: hidden;
}

/* joukkueet laatikko */
#vt1 > div > div > div:nth-child(1){
 
  border-style: solid;
  border-color: blue;
  border-collapse: collapse;
  border-left-width: 0.1em;
  border-right-width: 0.1em;;
  border-bottom-width: 0.1em;
  border-top-width: 0.1em;
  padding: 0.6em;
  width: 60%;
  overflow: hidden;
}

/* joukkueet laatikon table */
#vt1 > div > div > div > table {
  border-collapse: collapse;
  border: 1px solid blue;
  width: 100%;
}

/* joukkueet laatikon tablerow reunus */
#vt1 > div > div > div > table > tbody > tr {
  border-collapse: collapse;
  border: 1px solid blue;
}

/* joukkueet laatikon tablesolujen eli tdatan reunus */
#vt1 > div > div > div > table > tbody > tr > td  {
  border-collapse: collapse;
  border: 1px solid blue;
  overflow: hidden;
}

/* joukkueet laatikon tablesolujen lista kolumnidata*/
#vt1 > div > div > div > table > tbody > tr > td {
  width: auto;
}

/* joukkueet laatikon tablesolujen lista 3 kolumnidata*/
#vt1 > div > div > div > table > tbody > tr > td:nth-child(3) {
  width: 10em;
}

/* joukkueet laatikon tablen leimaustavat lista ul */
#vt1 > div > div > div > table > tbody > tr > td > ul  {
  padding-left:1em;
}

/* joukkueet laatikon tablen toinen kolumni*/
#vt1 > div > div > div > table > tbody > tr > td:nth-child(2)  {
 max-width: 35%;
}

/* joukkueet laatikon tablen tableheading */
#vt1 > div > div > div > table > thead > tr > th  {
 overflow: hidden;
}

/* joukkueet laatikon tablen tableheading */
#vt1 > div > div > div > table > tbody > tr > th  {
 overflow: hidden;
}


/*--------------------------------------------------*/
/* lisaa sarja jne. laatikko */
#vt1 > div > div > div:nth-child(2){

  border-style: solid;
  border-color: blue;
  border-collapse: collapse;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-left-width: 0.1em;
  border-right-width: 0.1em;
  border-top-width: 0.1em;
  border-bottom-width: 0.1em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  width: 20%;
  display: block;
  overflow: hidden;
}

/*poistetaan formien reunat*/
#vt1 > div > div > div > form >fieldset{
  border-style: hidden;
}

/*form*/
#vt1 > div > div > div > form {
  border-style: hidden;
}

/*form*/
#vt1 > div > div > div > form > fieldset > legend {
  font-weight: bold;
}

/*ekan fieldsetin labelit */
#vt1 > div > div > div > form > fieldset > label {
 border-style: hidden;
 display: block;
}

/*tokan fieldseint labelit*/
#vt1 > div > div > div > form > fieldset > fieldset > label {
 border-style: hidden;
 display: block;
}

/*tokan fieldsetin borderit*/
#vt1 > div > div > div > form > fieldset > fieldset {
 border-style: hidden;
}


/*---------------------------------------------*/
/* Sarjat div*/
#vt1 > div > div > div:nth-child(3){
  border-style: solid;
  border-block-width: 0.1em;
  border-color: blue;
  width: 20%;
  border-left-width: 0.1em;
  border-right-width: 0.1em;
  padding: 0.5em;  
}






